.form-input {
  width: 320px;
  padding: 13px 12px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid rgba(47, 73, 209, 0.6);
  background-color: #fff;
}

.error-msg {
  @apply text-red-500 text-sm absolute;
  bottom: -22px;
}

.invalid-input {
  @apply border-red-500
}